table{
    border:1px solid #777;
    width:100%;
    text-align:center;
    margin-top:25px;
}
table td a{
     padding:3px; 
     font-size:15px; 
     text-align:center; 
     color:black; 
     text-decoration:none; 
     border-radius:3px; 
     background-color:#E9E9E9;
     border:1px solid #777;
}
table td,th,tr{
    border:1px solid #777;
}